# 삼성전자 주가 데이터 실습

## 1. 데이터 수집

In [1]:
!pip install yfinance

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: yfinance in c:\users\user\appdata\roaming\python\python39\site-packages (0.1.72)
Requirement already satisfied: lxml>=4.5.1 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (4.8.0)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\user\appdata\roaming\python\python39\site-packages (from yfinance) (0.0.10)
Requirement already satisfied: numpy>=1.15 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (1.21.5)
Requirement already satisfied: requests>=2.26 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (2.27.1)
Requirement already satisfied: pandas>=0.24.0 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (1.4.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.24.0->yfinance) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.24.0->yfinance) (1.16.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2021.10.8)

In [2]:
import numpy as np
import pandas as pd
import yfinance as yfin
from pandas_datareader import data

In [3]:
yfin.pdr_override()
df = data.get_data_yahoo('005930.KS', start = '2020-01-01', end = '2021-06-30')
df

[*********************100%***********************]  1 of 1 completed

               Open     High      Low    Close     Adj Close    Volume
Date
2020-01-02  55500.0  56000.0  55000.0  55200.0  51557.589844  12993228
2020-01-03  56000.0  56600.0  54900.0  55500.0  51837.792969  15422255
2020-01-06  54900.0  55600.0  54600.0  55500.0  51837.792969  10278951
2020-01-07  55700.0  56400.0  55600.0  55800.0  52118.003906  10009778
2020-01-08  56200.0  57400.0  55900.0  56800.0  53052.019531  23501171
...             ...      ...      ...      ...           ...       ...
2021-06-23  80500.0  80600.0  79900.0  80100.0  78606.492188  13856548
2021-06-24  80400.0  81400.0  80100.0  81200.0  79685.976562  18771080
2021-06-25  81500.0  81900.0  81200.0  81600.0  80078.531250  13481405
2021-06-28  81700.0  82000.0  81600.0  81900.0  80372.929688  11578529
2021-06-29  81900.0  82100.0  80800.0  81000.0  79841.632812  15744317

[370 rows x 6 columns]

## 2. 데이터 가공

In [4]:
# 평균, 표준편차, 사분위수 등 주요 통계 지표 확인
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,370.000000,370.000000,370.000000,370.000000,370.000000,3.700000e+02
mean,65639.189189,66355.405405,64967.702703,65630.270270,62944.759217,2.168739e+07
std,13451.849467,13561.427465,13423.609681,13463.768099,14038.466747,9.734931e+06
min,42600.000000,43550.000000,42300.000000,42500.000000,39695.609375,0.000000e+00
25%,54825.000000,55525.000000,54225.000000,54750.000000,51582.189453,1.533896e+07
50%,60300.000000,60700.000000,59600.000000,60050.000000,56746.630859,1.903267e+07
75%,81175.000000,81900.000000,80800.000000,81200.000000,79616.871094,2.528365e+07
max,90300.000000,96800.000000,89500.000000,91000.000000,88908.179688,9.030618e+07

In [5]:
# 'Close' 기준 최대값, 최소값, 평균값
print(df['Close'].max())
print(df['Close'].min())
print(df['Close'].mean())

91000.0
42500.0
65630.27027027027

In [6]:
# 총 데이터의 개수 확인
df.shape[0]

370

In [7]:
# 특정 컬럼 선택
df['Close']

Date
2020-01-02    55200.0
2020-01-03    55500.0
2020-01-06    55500.0
2020-01-07    55800.0
2020-01-08    56800.0
               ...
2021-06-23    80100.0
2021-06-24    81200.0
2021-06-25    81600.0
2021-06-28    81900.0
2021-06-29    81000.0
Name: Close, Length: 370, dtype: float64

In [8]:
# 상위 3개의 로우 선택
df.head(3)

               Open     High      Low    Close     Adj Close    Volume
Date
2020-01-02  55500.0  56000.0  55000.0  55200.0  51557.589844  12993228
2020-01-03  56000.0  56600.0  54900.0  55500.0  51837.792969  15422255
2020-01-06  54900.0  55600.0  54600.0  55500.0  51837.792969  10278951

In [9]:
# 'Open' 대비 'Close'가 높았던 날의 데이터 선택
df[df['Open'] < df['Close']]

               Open     High      Low    Close     Adj Close    Volume
Date
2020-01-06  54900.0  55600.0  54600.0  55500.0  51837.792969  10278951
2020-01-07  55700.0  56400.0  55600.0  55800.0  52118.003906  10009778
2020-01-08  56200.0  57400.0  55900.0  56800.0  53052.019531  23501171
2020-01-09  58400.0  58600.0  57400.0  58600.0  54733.246094  24102579
2020-01-10  58800.0  59700.0  58300.0  59500.0  55573.859375  16000170
...             ...      ...      ...      ...           ...       ...
2021-06-16  81500.0  81900.0  81100.0  81800.0  80274.789062  14999855
2021-06-21  79700.0  80000.0  79600.0  79900.0  78410.218750  16063340
2021-06-24  80400.0  81400.0  80100.0  81200.0  79685.976562  18771080
2021-06-25  81500.0  81900.0  81200.0  81600.0  80078.531250  13481405
2021-06-28  81700.0  82000.0  81600.0  81900.0  80372.929688  11578529

[166 rows x 6 columns]

In [10]:
# 'Close' 기준 가장 주가가 높았던 날의 데이터 선택
df[df['Close'] == max(df['Close'])]

               Open     High      Low    Close     Adj Close    Volume
Date
2021-01-11  90000.0  96800.0  89500.0  91000.0  88908.179688  90306177

In [11]:
# 'Close' 기준 주가가 90000원 이상이었던 날짜 반환
df[df['Close'] >= 90000].index

DatetimeIndex(['2021-01-11', '2021-01-12'], dtype='datetime64[ns]', name='Date', freq=None)

In [12]:
# 2021년 1월 15일 데이터 반환
df.loc['2021-01-15']

Open         8.980000e+04
High         9.180000e+04
Low          8.800000e+04
Close        8.800000e+04
Adj Close    8.597714e+04
Volume       3.343181e+07
Name: 2021-01-15 00:00:00, dtype: float64

In [13]:
# 2021년 1월 11일의 High와 Low값 반환
df.loc['2021-01-11', ['High', 'Low']]

High    96800.0
Low     89500.0
Name: 2021-01-11 00:00:00, dtype: float64

In [14]:
# 100번째 데이터 선택
df.iloc[100]

Open         5.000000e+04
High         5.070000e+04
Low          4.970000e+04
Close        5.070000e+04
Adj Close    4.770416e+04
Volume       2.759696e+07
Name: 2020-05-29 00:00:00, dtype: float64

In [15]:
# 데이터를 날짜 역순으로 정렬
df.sort_index(ascending=False)

               Open     High      Low    Close     Adj Close    Volume
Date
2021-06-29  81900.0  82100.0  80800.0  81000.0  79841.632812  15744317
2021-06-28  81700.0  82000.0  81600.0  81900.0  80372.929688  11578529
2021-06-25  81500.0  81900.0  81200.0  81600.0  80078.531250  13481405
2021-06-24  80400.0  81400.0  80100.0  81200.0  79685.976562  18771080
2021-06-23  80500.0  80600.0  79900.0  80100.0  78606.492188  13856548
...             ...      ...      ...      ...           ...       ...
2020-01-08  56200.0  57400.0  55900.0  56800.0  53052.019531  23501171
2020-01-07  55700.0  56400.0  55600.0  55800.0  52118.003906  10009778
2020-01-06  54900.0  55600.0  54600.0  55500.0  51837.792969  10278951
2020-01-03  56000.0  56600.0  54900.0  55500.0  51837.792969  15422255
2020-01-02  55500.0  56000.0  55000.0  55200.0  51557.589844  12993228

[370 rows x 6 columns]

In [16]:
# 'Close' 데이터를 가격이 높은 순서대로 정렬
df['Close'].sort_values(ascending=False)

Date
2021-01-11    91000.0
2021-01-12    90600.0
2021-01-14    89700.0
2021-01-13    89700.0
2021-01-25    89400.0
               ...
2020-04-01    45800.0
2020-03-18    45600.0
2020-03-20    45400.0
2020-03-19    42950.0
2020-03-23    42500.0
Name: Close, Length: 370, dtype: float64

In [17]:
# 인덱스 컬럼을 0부터 순차적으로 증가하는 정수로 변경
df.reset_index(inplace=True)
df

          Date     Open     High      Low    Close     Adj Close    Volume
0   2020-01-02  55500.0  56000.0  55000.0  55200.0  51557.589844  12993228
1   2020-01-03  56000.0  56600.0  54900.0  55500.0  51837.792969  15422255
2   2020-01-06  54900.0  55600.0  54600.0  55500.0  51837.792969  10278951
3   2020-01-07  55700.0  56400.0  55600.0  55800.0  52118.003906  10009778
4   2020-01-08  56200.0  57400.0  55900.0  56800.0  53052.019531  23501171
..         ...      ...      ...      ...      ...           ...       ...
365 2021-06-23  80500.0  80600.0  79900.0  80100.0  78606.492188  13856548
366 2021-06-24  80400.0  81400.0  80100.0  81200.0  79685.976562  18771080
367 2021-06-25  81500.0  81900.0  81200.0  81600.0  80078.531250  13481405
368 2021-06-28  81700.0  82000.0  81600.0  81900.0  80372.929688  11578529
369 2021-06-29  81900.0  82100.0  80800.0  81000.0  79841.632812  15744317

[370 rows x 7 columns]

In [18]:
# 컬럼명 변경
df.rename(columns = {'Date': '날짜', 'High': '고가', 'Low': '저가'})

            날짜     Open       고가       저가    Close     Adj Close    Volume
0   2020-01-02  55500.0  56000.0  55000.0  55200.0  51557.589844  12993228
1   2020-01-03  56000.0  56600.0  54900.0  55500.0  51837.792969  15422255
2   2020-01-06  54900.0  55600.0  54600.0  55500.0  51837.792969  10278951
3   2020-01-07  55700.0  56400.0  55600.0  55800.0  52118.003906  10009778
4   2020-01-08  56200.0  57400.0  55900.0  56800.0  53052.019531  23501171
..         ...      ...      ...      ...      ...           ...       ...
365 2021-06-23  80500.0  80600.0  79900.0  80100.0  78606.492188  13856548
366 2021-06-24  80400.0  81400.0  80100.0  81200.0  79685.976562  18771080
367 2021-06-25  81500.0  81900.0  81200.0  81600.0  80078.531250  13481405
368 2021-06-28  81700.0  82000.0  81600.0  81900.0  80372.929688  11578529
369 2021-06-29  81900.0  82100.0  80800.0  81000.0  79841.632812  15744317

[370 rows x 7 columns]

In [19]:
# 날짜 컬럼 삭제
df.drop(['Date'], axis=1)
df

          Date     Open     High      Low    Close     Adj Close    Volume
0   2020-01-02  55500.0  56000.0  55000.0  55200.0  51557.589844  12993228
1   2020-01-03  56000.0  56600.0  54900.0  55500.0  51837.792969  15422255
2   2020-01-06  54900.0  55600.0  54600.0  55500.0  51837.792969  10278951
3   2020-01-07  55700.0  56400.0  55600.0  55800.0  52118.003906  10009778
4   2020-01-08  56200.0  57400.0  55900.0  56800.0  53052.019531  23501171
..         ...      ...      ...      ...      ...           ...       ...
365 2021-06-23  80500.0  80600.0  79900.0  80100.0  78606.492188  13856548
366 2021-06-24  80400.0  81400.0  80100.0  81200.0  79685.976562  18771080
367 2021-06-25  81500.0  81900.0  81200.0  81600.0  80078.531250  13481405
368 2021-06-28  81700.0  82000.0  81600.0  81900.0  80372.929688  11578529
369 2021-06-29  81900.0  82100.0  80800.0  81000.0  79841.632812  15744317

[370 rows x 7 columns]

In [20]:
# 'diff' 컬럼 생성, 'Close'와 'Open'의 차이 계산하여 채우기
df['diff'] = df['Close'] - df['Open']
df

,Date,Open,High,Low,Close,Adj Close,Volume,diff
0,2020-01-02,55500.0,56000.0,55000.0,55200.0,51557.589844,12993228,-300.0
1,2020-01-03,56000.0,56600.0,54900.0,55500.0,51837.792969,15422255,-500.0
2,2020-01-06,54900.0,55600.0,54600.0,55500.0,51837.792969,10278951,600.0
3,2020-01-07,55700.0,56400.0,55600.0,55800.0,52118.003906,10009778,100.0
4,2020-01-08,56200.0,57400.0,55900.0,56800.0,53052.019531,23501171,600.0
...,...,...,...,...,...,...,...,...
365,2021-06-23,80500.0,80600.0,79900.0,80100.0,78606.492188,13856548,-400.0
366,2021-06-24,80400.0,81400.0,80100.0,81200.0,79685.976562,18771080,800.0
367,2021-06-25,81500.0,81900.0,81200.0,81600.0,80078.531250,13481405,100.0
368,2021-06-28,81700.0,82000.0,81600.0,81900.0,80372.929688,11578529,200.0
369,2021-06-29,81900.0,82100.0,80800.0,81000.0,79841.632812,15744317,-900.0

In [21]:
# 'Date' 필드에 저장된 값을 파싱하여 'Year', 'Month', 'Day' 필드에 저장
df['Year'] = [d.year for d in df['Date']]
df['Month'] = [d.month for d in df['Date']]
df['Day'] = [d.day for d in df['Date']]
df

,Date,Open,High,Low,Close,Adj Close,Volume,diff,Year,Month,Day
0,2020-01-02,55500.0,56000.0,55000.0,55200.0,51557.589844,12993228,-300.0,2020,1,2
1,2020-01-03,56000.0,56600.0,54900.0,55500.0,51837.792969,15422255,-500.0,2020,1,3
2,2020-01-06,54900.0,55600.0,54600.0,55500.0,51837.792969,10278951,600.0,2020,1,6
3,2020-01-07,55700.0,56400.0,55600.0,55800.0,52118.003906,10009778,100.0,2020,1,7
4,2020-01-08,56200.0,57400.0,55900.0,56800.0,53052.019531,23501171,600.0,2020,1,8
...,...,...,...,...,...,...,...,...,...,...,...
365,2021-06-23,80500.0,80600.0,79900.0,80100.0,78606.492188,13856548,-400.0,2021,6,23
366,2021-06-24,80400.0,81400.0,80100.0,81200.0,79685.976562,18771080,800.0,2021,6,24
367,2021-06-25,81500.0,81900.0,81200.0,81600.0,80078.531250,13481405,100.0,2021,6,25
368,2021-06-28,81700.0,82000.0,81600.0,81900.0,80372.929688,11578529,200.0,2021,6,28
369,2021-06-29,81900.0,82100.0,80800.0,81000.0,79841.632812,15744317,-900.0,2021,6,29

In [22]:
# 모든 데이터를 소수점 둘째자리까지 표시
df.round(2)

,Date,Open,High,Low,Close,Adj Close,Volume,diff,Year,Month,Day
0,2020-01-02,55500.0,56000.0,55000.0,55200.0,51557.59,12993228,-300.0,2020,1,2
1,2020-01-03,56000.0,56600.0,54900.0,55500.0,51837.79,15422255,-500.0,2020,1,3
2,2020-01-06,54900.0,55600.0,54600.0,55500.0,51837.79,10278951,600.0,2020,1,6
3,2020-01-07,55700.0,56400.0,55600.0,55800.0,52118.00,10009778,100.0,2020,1,7
4,2020-01-08,56200.0,57400.0,55900.0,56800.0,53052.02,23501171,600.0,2020,1,8
...,...,...,...,...,...,...,...,...,...,...,...
365,2021-06-23,80500.0,80600.0,79900.0,80100.0,78606.49,13856548,-400.0,2021,6,23
366,2021-06-24,80400.0,81400.0,80100.0,81200.0,79685.98,18771080,800.0,2021,6,24
367,2021-06-25,81500.0,81900.0,81200.0,81600.0,80078.53,13481405,100.0,2021,6,25
368,2021-06-28,81700.0,82000.0,81600.0,81900.0,80372.93,11578529,200.0,2021,6,28
369,2021-06-29,81900.0,82100.0,80800.0,81000.0,79841.63,15744317,-900.0,2021,6,29

In [23]:
# 거래량 필드를 생성, 세 자리수마다 콤마가 들어가도록 변경
df['거래량'] = df['Volume'].apply(lambda x: "{:,}".format(x))
df

,Date,Open,High,Low,Close,Adj Close,Volume,diff,Year,Month,Day,거래량
0,2020-01-02,55500.0,56000.0,55000.0,55200.0,51557.589844,12993228,-300.0,2020,1,2,"12,993,228"
1,2020-01-03,56000.0,56600.0,54900.0,55500.0,51837.792969,15422255,-500.0,2020,1,3,"15,422,255"
2,2020-01-06,54900.0,55600.0,54600.0,55500.0,51837.792969,10278951,600.0,2020,1,6,"10,278,951"
3,2020-01-07,55700.0,56400.0,55600.0,55800.0,52118.003906,10009778,100.0,2020,1,7,"10,009,778"
4,2020-01-08,56200.0,57400.0,55900.0,56800.0,53052.019531,23501171,600.0,2020,1,8,"23,501,171"
...,...,...,...,...,...,...,...,...,...,...,...,...
365,2021-06-23,80500.0,80600.0,79900.0,80100.0,78606.492188,13856548,-400.0,2021,6,23,"13,856,548"
366,2021-06-24,80400.0,81400.0,80100.0,81200.0,79685.976562,18771080,800.0,2021,6,24,"18,771,080"
367,2021-06-25,81500.0,81900.0,81200.0,81600.0,80078.531250,13481405,100.0,2021,6,25,"13,481,405"
368,2021-06-28,81700.0,82000.0,81600.0,81900.0,80372.929688,11578529,200.0,2021,6,28,"11,578,529"
369,2021-06-29,81900.0,82100.0,80800.0,81000.0,79841.632812,15744317,-900.0,2021,6,29,"15,744,317"

In [24]:
# 주가 데이터를 'Month' 별로 그룹핑, 'Volume'의 평균값 표시
df['Volume'].groupby(df['Month']).mean()

Month
1     2.713407e+07
2     2.086738e+07
3     2.649870e+07
4     1.897715e+07
5     1.911778e+07
6     1.947093e+07
7     1.901368e+07
8     2.008490e+07
9     2.030011e+07
10    1.723988e+07
11    2.363959e+07
12    2.523804e+07
Name: Volume, dtype: float64

In [25]:
# 결측치 있는지 확인, 결측치 처리
df.isna().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
diff         0
Year         0
Month        0
Day          0
거래량          0
dtype: int64

In [26]:
# 12월의 데이터와 11월의 데이터를 별도의 데이터프레임으로 만든 후, 이어붙이기
dec_df = df[df['Month'] == 12]
nov_df = df[df['Month'] == 11]
nov_dec_df = pd.concat([nov_df, dec_df])
nov_dec_df

,Date,Open,High,Low,Close,Adj Close,Volume,diff,Year,Month,Day,거래량
206,2020-11-02,56400.0,57500.0,56000.0,57400.0,54703.820312,20489076,1000.0,2020,11,2,"20,489,076"
207,2020-11-03,57900.0,58900.0,57600.0,58800.0,56038.062500,14950919,900.0,2020,11,3,"14,950,919"
208,2020-11-04,58900.0,59000.0,57800.0,58500.0,55752.156250,21718561,-400.0,2020,11,4,"21,718,561"
209,2020-11-05,59000.0,60300.0,58800.0,60300.0,57467.605469,20639475,1300.0,2020,11,5,"20,639,475"
210,2020-11-06,60700.0,60800.0,59600.0,60100.0,57277.000000,16910230,-600.0,2020,11,6,"16,910,230"
211,2020-11-09,60700.0,60900.0,60100.0,60200.0,57372.304688,15892961,-500.0,2020,11,9,"15,892,961"
212,2020-11-10,60500.0,60500.0,59500.0,60200.0,57372.304688,19073552,-300.0,2020,11,10,"19,073,552"
213,2020-11-11,60700.0,61400.0,60400.0,61300.0,58420.632812,25628510,600.0,2020,11,11,"25,628,510"
214,2020-11-12,61000.0,61400.0,60700.0,61000.0,58134.722656,19800573,0.0,2020,11,12,"19,800,573"
215,2020-11-13,61300.0,63200.0,61000.0,63200.0,60231.390625,31508829,1900.0,2020,11,13,"31,508,829"
216,2020-11-16,64000.0,66700.0,63900.0,66300.0,63185.773438,36354334,2300.0,2020,11,16,"36,354,334"
217,2020-11-17,67000.0,67000.0,65600.0,65700.0,62613.957031,30204089,-1300.0,2020,11,17,"30,204,089"
218,2020-11-18,65700.0,66200.0,64700.0,64800.0,61756.234375,22963790,-900.0,2020,11,18,"22,963,790"
219,2020-11-19,64100.0,64800.0,63900.0,64600.0,61565.625000,16590290,500.0,2020,11,19,"16,590,290"
220,2020-11-20,63900.0,65200.0,63900.0,64700.0,61660.929688,15068682,800.0,2020,11,20,"15,068,682"
221,2020-11-23,64800.0,67800.0,64700.0,67500.0,64329.398438,27134398,2700.0,2020,11,23,"27,134,398"
222,2020-11-24,67900.0,69500.0,67000.0,67700.0,64520.011719,32158235,-200.0,2020,11,24,"32,158,235"
223,2020-11-25,67900.0,68300.0,66500.0,66600.0,63471.683594,32447065,-1300.0,2020,11,25,"32,447,065"
224,2020-11-26,66100.0,68000.0,66000.0,68000.0,64805.917969,19023323,1900.0,2020,11,26,"19,023,323"
225,2020-11-27,68000.0,68400.0,67600.0,68200.0,64996.527344,14063434,200.0,2020,11,27,"14,063,434"
226,2020-11-30,68400.0,68600.0,66700.0,66700.0,63566.984375,43811016,-1700.0,2020,11,30,"43,811,016"
227,2020-12-01,67100.0,68300.0,67100.0,67800.0,64615.308594,22327173,700.0,2020,12,1,"22,327,173"
228,2020-12-02,68400.0,69900.0,68300.0,69500.0,66235.476562,29703942,1100.0,2020,12,2,"29,703,942"
229,2020-12-03,70100.0,70500.0,69300.0,69700.0,66426.078125,23677989,-400.0,2020,12,3,"23,677,989"
230,2020-12-04,70400.0,72100.0,70100.0,71500.0,68141.523438,28130533,1100.0,2020,12,4,"28,130,533"
231,2020-12-07,72400.0,73500.0,71900.0,72900.0,69475.765625,28490496,500.0,2020,12,7,"28,490,496"
232,2020-12-08,72200.0,72900.0,71600.0,71700.0,68332.125000,25000338,-500.0,2020,12,8,"25,000,338"
233,2020-12-09,72100.0,73900.0,72000.0,73900.0,70428.789062,24077996,1800.0,2020,12,9,"24,077,996"
234,2020-12-10,72700.0,73800.0,72500.0,72900.0,69475.765625,39882928,200.0,2020,12,10,"39,882,928"
235,2020-12-11,73500.0,73800.0,73100.0,73400.0,69952.273438,18486672,-100.0,2020,12,11,"18,486,672"
236,2020-12-14,73600.0,74500.0,73200.0,73800.0,70333.484375,21510415,200.0,2020,12,14,"21,510,415"
237,2020-12-15,73800.0,74100.0,73300.0,73800.0,70333.484375,20863671,0.0,2020,12,15,"20,863,671"
238,2020-12-16,74100.0,74500.0,73400.0,73800.0,70333.484375,17512081,-300.0,2020,12,16,"17,512,081"
239,2020-12-17,73400.0,73700.0,72600.0,73300.0,69856.976562,24293214,-100.0,2020,12,17,"24,293,214"
240,2020-12-18,73300.0,73700.0,73000.0,73000.0,69571.062500,17613029,-300.0,2020,12,18,"17,613,029"
241,2020-12-21,73100.0,73400.0,72000.0,73000.0,69571.062500,20367355,-100.0,2020,12,21,"20,367,355"
242,2020-12-22,72500.0,73200.0,72100.0,72300.0,68903.945312,16304910,-200.0,2020,12,22,"16,304,910"
243,2020-12-23,72400.0,74000.0,72300.0,73900.0,70428.789062,19411326,1500.0,2020,12,23,"19,411,326"
244,2020-12-24,74100.0,78800.0,74000.0,77800.0,74145.593750,32502870,3700.0,2020,12,24,"32,502,870"
245,2020-12-28,79000.0,80100.0,78200.0,78700.0,75003.320312,40085044,-300.0,2020,12,28,"40,085,044"
246,2020-12-29,78800.0,78900.0,77300.0,78300.0,76500.117188,30339449,-500.0,2020,12,29,"30,339,449"
247,2020-12-30,77400.0,81300.0,77300.0,81000.0,79138.046875,29417421,3600.0,2020,12,30,"29,417,421"